// bower:scss
// endbower

$primary-color: #f2aa47;
$secondary-color: #333;

$body-font-family: "Open Sans", sans-serif;

$global-radius: 2px;

$icon-bar-item-padding: 1em;

// foundation
@import "foundation/scss/foundation";
// end foundation

a {
  cursor: pointer;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.build-status {
  width: 21px;
}

.icon-bar {
  position: absolute;
  top: 0;
  right: 0;

  .logo {
    $logo-background-color: darken($secondary-color, 3%);
    position: fixed;
    bottom: 0;
    background-color: $logo-background-color;
    &:hover {
      background-color: $logo-background-color;
    }
    > img {
      border-radius: 50%;
      width: 39px;
      height: 39px;
    }
  }
}

.terminal {
  border: #000 solid 5px;
  font-family: "DejaVu Sans Mono", "Liberation Mono", monospace;
  font-size: 11px;
  color: #f0f0f0;
  background: #000;

  .terminal-cursor {
    color: #000;
    background: #f0f0f0;
  }
}

.cm-s-lesser-dark {
  $editor-background-color: darken($secondary-color, 10%);
  &.CodeMirror {
    background: $editor-background-color;
    color: #EBEFE7;
    text-shadow: 0 -1px 1px #262626;
    height: calc(100vh);
  }
  .CodeMirror-gutters {
    background: $secondary-color;
    border-right: 1px solid darken($secondary-color, 3%);
  }
}

