// bower:scss
// endbower

$secondary-color: #333;
$primary-color: lighten($secondary-color, 10%);

$body-bg: darken($secondary-color, 3%);

$body-font-color: #f0f0f0;
$body-font-family: "Open Sans", sans-serif;

$icon-bar-item-padding: 1em;

$tabs-navigation-bg-color: $primary-color;
$tabs-navigation-active-bg-color: #000;
$tabs-navigation-font-color: #f0f0f0;
$tabs-navigation-padding: 0.5em;
$tabs-navigation-font-size: 0.8em;

// foundation
@import "foundation/scss/foundation";
// end foundation

a {
  cursor: pointer;
}

button.file {
  position: relative;
  overflow: hidden;
  input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
  }
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

p {
  .label {
    margin: 0;
  }
}

.line-status {
  width: 21px;
}

.side-bar {
  $side-bar-content-background-color: $body-bg;

  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 100;

  .icon-bar {
    float: right;
    position: relative;
  }

  .item {
    &.active {
      background-color: $body-bg;
    }
  }

  .logo {
    position: fixed;
    bottom: 0;
    background-color: $side-bar-content-background-color;
    &:hover {
      background-color: $side-bar-content-background-color;
    }
    > img {
      border-radius: 50%;
      width: 38px;
      height: 38px;
    }
  }

  .side-bar-content {
    background-color: $side-bar-content-background-color;
    display: inline-block;
    max-width: 400px;
    padding-top: 1em;
    height: 100%;

    p {
      font-size: rem-calc(12px);
    }

    $slide-duration: .5s;

    &.ng-enter, &.ng-leave {
      transition: all $slide-duration ease;
    }

    &.ng-enter {
      animation: slideInRight $slide-duration both ease;
    }

    &.ng-leave {
      animation: slideOutRight $slide-duration both ease;
    }
  }
}

.terminal-tabs {
  position: absolute;
  bottom: 0px;
  z-index: 200;
  width: 100%;

  $slide-duration: .5s;

  &.ng-hide-add.ng-hide-add-active,
  &.ng-hide-remove.ng-hide-remove-active {
    transition: all $slide-duration ease;
  }

  &.ng-hide {
    bottom: -400px;
  }

  .tabs {
    background-color: $tabs-navigation-bg-color;
    .close {
      color: lighten($tabs-navigation-bg-color, 20%);
      padding-right: 0.3em;
      i {
        transition: transform cubic-bezier(.46,-0.49,.33,1.35) .5s;
      }
      &:hover {
        i {
          transform: rotate(90deg);
        }
      }
    }
  }

  .tabs-content {
    margin: 0;
    .content {
      padding: 0;
    }
  }

  .terminal {
    padding: 0.5em;
    background-color: rgba(0, 0, 0, 0.6);
    border-top: #000 solid 5px;
    font-family: "DejaVu Sans Mono", "Liberation Mono", monospace;
    font-size: 11px;
    color: #f0f0f0;

    .terminal-cursor {
      color: #000;
      background: #f0f0f0;
    }
  }
}

.cm-s-lesser-dark {
  $editor-background-color: darken($secondary-color, 10%);
  &.CodeMirror {
    background: $editor-background-color;
    color: #EBEFE7;
    text-shadow: 0 -1px 1px #262626;
    height: calc(100vh);
  }
  .CodeMirror-gutters {
    background: $secondary-color;
    border-right: 1px solid $body-bg;
  }
}

@keyframes slideOutRight {
  to { transform: translateX(100%); }
}

@keyframes slideInRight {
  from { transform: translateX(100%); }
  to { transform: translateX(0%); }
}
