// bower:scss
// endbower

$secondary-color: #333;
$primary-color: darken($secondary-color, 3%);

$body-font-family: "Open Sans", sans-serif;

$global-radius: 2px;

$icon-bar-item-padding: 1em;

$tabs-navigation-bg-color: $primary-color;
$tabs-navigation-active-bg-color: #000;
$tabs-navigation-font-color: #f0f0f0;
$tabs-navigation-padding: 0.5em;
$tabs-navigation-font-size: 0.8em;

// foundation
@import "foundation/scss/foundation";
// end foundation

a {
  cursor: pointer;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.line-status {
  width: 21px;
}

.side-bar {
  $side-bar-content-background-color: $primary-color;

  position: absolute;
  top: 0;
  right: 0;
  border-left: 1px solid $side-bar-content-background-color;
  height: 100%;
  background-color: $side-bar-content-background-color;

  .item {
    &.active {
      background-color: $primary-color;
    }
  }

  .logo {
    position: fixed;
    bottom: 0;
    background-color: $side-bar-content-background-color;
    &:hover {
      background-color: $side-bar-content-background-color;
    }
    > img {
      border-radius: 50%;
      width: 39px;
      height: 39px;
    }
  }

  .side-bar-content {
    display: inline-block;
  }
}

.terminal-tabs {
  position: absolute;
  bottom: 0px;
  z-index: 100;
  width: 100%;
  transition: bottom linear 0.5s;

  &.ng-hide {
    bottom: -400px;
  }

  .tabs {
    background-color: $tabs-navigation-bg-color;
    .close {
      color: lighten($tabs-navigation-bg-color, 20%);
      padding-right: 0.5em;
      i {
        transition: transform cubic-bezier(.46,-0.49,.33,1.35) .5s;
      }
      &:hover {
        i {
          transform: rotate(90deg);
        }
      }
    }
  }

  .tabs-content {
    margin: 0;
    .content {
      padding: 0;
    }
  }

  .terminal {
    padding: 0.5em;
    background-color: rgba(0, 0, 0, 0.6);
    border-top: #000 solid 5px;
    font-family: "DejaVu Sans Mono", "Liberation Mono", monospace;
    font-size: 11px;
    color: #f0f0f0;

    .terminal-cursor {
      color: #000;
      background: #f0f0f0;
    }
  }
}

.cm-s-lesser-dark {
  $editor-background-color: darken($secondary-color, 10%);
  &.CodeMirror {
    background: $editor-background-color;
    color: #EBEFE7;
    text-shadow: 0 -1px 1px #262626;
    height: calc(100vh);
  }
  .CodeMirror-gutters {
    background: $secondary-color;
    border-right: 1px solid darken($secondary-color, 3%);
  }
}

